<header>TinyApp</header>


<% if(locals.user){ %>
Welcome <%=locals.user%>
  <form method="POST" action="/logout">
  <button>Logout</button>
  </form>
 <% } else{ %>  
  <a href="/login"> Login </a><br>
  <a href="/register"> Register </a>
<% } %>




