<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
table, td, th {    
    border: 5px solid #CC99FF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 10px;
}

</style>
</head>
<body>
  <% include partials/_header.ejs %>
  <p><a href="/urls/new">Create new shortened URL</a></p>
  <table border="2">
    <tr>
     <td><h4>Short ID<h4></td> <td><h4>Long ID<h4></td>
    </tr>
  <% Object.keys(urls).forEach(function (key) { %>
    <tr>
     <td>
       <%= key %> <a href= "/urls/<%= key %>"> Edit </a>
     </td> 
     <td>
      <form method="POST" action="/urls/<%= key %>/delete">
      <%= urls[key].longURL %>
     <button> Delete </button>
     </form>
     </td>
    </tr>
  <% }) %>
  </table>

  
  
</body>
</html>